<!doctype html>
<html>
 <head> 
  <meta charset="UTF-8" name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src&quot;,&quot;THEME&quot;:&quot;agiletrack&quot;}">
  <meta charset="UTF-8" name="package-mapping" content="com_vaadin_addon_jpacontainer_fieldfactory:com.vaadin.addon.jpacontainer.fieldfactory">
 </head> 
 <body> 
  <vaadin-vertical-layout> 
   <vaadin-form-layout responsive size-auto margin :middle> 
    <vaadin-combo-box caption="Comandos Disponibles" style-name="large align-center" item-caption-mode="id" width="500px" _id="cbCommand"></vaadin-combo-box> 
    <vaadin-horizontal-layout spacing :center> 
     <vaadin-button style-name="friendly" plain-text _id="btNew">
       Agregar 
     </vaadin-button> 
     <vaadin-button style-name="danger" plain-text _id="btDelete">
       Borrar 
     </vaadin-button> 
    </vaadin-horizontal-layout> 
    <vaadin-table width="500px" height="271px" _id="table_parrs"></vaadin-table> 
   </vaadin-form-layout> 
  </vaadin-vertical-layout>  
 </body>
</html>