<!doctype html>
<html>
 <head> 
  <meta charset="UTF-8" name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src&quot;,&quot;THEME&quot;:&quot;agiletrack&quot;}">
  <meta charset="UTF-8" name="package-mapping" content="com_vaadin_addon_jpacontainer_fieldfactory:com.vaadin.addon.jpacontainer.fieldfactory">
 </head> 
 <body> 
  <vaadin-vertical-layout> 
   <vaadin-form-layout size-auto> 
    <vaadin-combo-box style-name="large" item-caption-mode="id" width="500px" _id="cbCommand"> 
     <option>Option 1</option> 
     <option>Option 2</option> 
     <option>Option 3</option> 
    </vaadin-combo-box> 
    <vaadin-horizontal-layout width="400px" height="51px" _id="horizontal_Layout"> 
     <vaadin-button plain-text _id="btNew">
       Add 
     </vaadin-button> 
     <vaadin-button plain-text _id="btDelete">
       Delete 
     </vaadin-button> 
     <vaadin-button plain-text>
       Button 
     </vaadin-button> 
    </vaadin-horizontal-layout> 
   </vaadin-form-layout> 
   <vaadin-grid tabindex="1" _id="gridParts"></vaadin-grid> 
  </vaadin-vertical-layout>  
 </body>
</html>