<!doctype html>
<html>
 <head> 
  <meta charset="UTF-8" name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src&quot;,&quot;THEME&quot;:&quot;agiletrack&quot;}">
  <meta charset="UTF-8" name="package-mapping" content="com_spheres_agiletrack_view:com.spheres.agiletrack.view">
 </head> 
 <body> 
  <vaadin-vertical-layout style-name="root-layout navigation-template-vaadin" responsive size-full _id="root_layout"> 
   <vaadin-css-layout style-name="header-bar" width-full _id="header_bar" :middle :center> 
    <vaadin-menu-bar style-name="user-menu" width="127px" plain-text _id="menuBar"></vaadin-menu-bar> 
    <vaadin-text-field icon="fonticon://FontAwesome/f002" input-prompt="Busqueda...." style-name="search-field" _id="search_field"></vaadin-text-field> 
   </vaadin-css-layout> 
   <vaadin-horizontal-layout style-name="main-area-layout" size-full _id="main_area" :expand> 
    <vaadin-css-layout style-name="side-bar" height-full _id="side_bar"> 
     <vaadin-native-button icon="fonticon://FontAwesome/f080" style-name="menu-button selected" width-full plain-text _id="btDashboard">
       Dashboard 
     </vaadin-native-button> 
     <vaadin-native-button icon="fonticon://FontAwesome/f0d1" style-name="menu-button" width-full plain-text _id="btUnidades">
       Unidades 
     </vaadin-native-button> 
     <vaadin-native-button icon="fonticon://FontAwesome/f0f6" style-name="menu-button" width-full plain-text _id="btReportes">
       Reportes 
     </vaadin-native-button> 
     <vaadin-native-button icon="fonticon://FontAwesome/f278" style-name="menu-button" width-full plain-text _id="btMaps">
       Mapas 
     </vaadin-native-button> 
     <vaadin-native-button icon="fonticon://FontAwesome/f05a" style-name="menu-button" width-full plain-text _id="menuButton6">
       About 
     </vaadin-native-button> 
     <vaadin-native-button icon="fonticon://FontAwesome/f109" style-name="menu-button" width-full plain-text _id="btStarLink">
       StarLink 
     </vaadin-native-button> 
     <vaadin-native-button icon="fonticon://FontAwesome/f05a" style-name="menu-button" width-full plain-text _id="menuButton7">
       About 
     </vaadin-native-button> 
     <vaadin-native-button icon="fonticon://FontAwesome/f275" style-name="menu-button" width-full plain-text _id="btConfig">
       Configuracion 
     </vaadin-native-button> 
    </vaadin-css-layout> 
    <vaadin-panel style-name="scroll-panel" size-full _id="scroll_panel" :middle :center :expand></vaadin-panel> 
   </vaadin-horizontal-layout> 
  </vaadin-vertical-layout>  
 </body>
</html>