<!doctype html>
<html>
 <head>
  <meta charset="UTF-8" name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src&quot;,&quot;THEME&quot;:&quot;agiletrack&quot;}">
 </head> 
 <body> 
  <vaadin-css-layout size-full> 
   <vaadin-vertical-layout size-full> 
    <vaadin-image source="http://localhost:8080/AgileTrack/images/agile.jpg"></vaadin-image> 
    <vaadin-label size-auto plain-text :middle :center>
      Welcome to Agile Tracking 
    </vaadin-label> 
    <vaadin-horizontal-layout width-full></vaadin-horizontal-layout> 
   </vaadin-vertical-layout> 
  </vaadin-css-layout>  
 </body>
</html>