<!doctype html>
<html>
 <head>
  <meta charset="UTF-8" name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src&quot;,&quot;THEME&quot;:&quot;agiletrack&quot;}">
 </head> 
 <body> 
  <vaadin-css-layout responsive size-full> 
   <vaadin-form-layout width="595px" height="311px" margin-left _id="formCommand"> 
    <vaadin-text-field caption="Nombre Comando:" width="377px" _id="command"></vaadin-text-field> 
    <vaadin-text-area caption="Descripcion" rows="3" width="377px" _id="btAddCommand"></vaadin-text-area> 
    <vaadin-check-box caption="Server Side"></vaadin-check-box> 
    <vaadin-check-box caption="StarLink Unit "></vaadin-check-box> 
    <vaadin-horizontal-layout spacing width="377px"> 
     <vaadin-button style-name="friendly primary" plain-text _id="btAgregar">
       Agregar 
     </vaadin-button> 
     <vaadin-button style-name="friendly primary" plain-text _id="btUpdate" :middle>
       Actualizar 
     </vaadin-button> 
     <vaadin-button style-name="danger" plain-text _id="btBorrar">
       Eliminar 
     </vaadin-button> 
    </vaadin-horizontal-layout> 
   </vaadin-form-layout> 
  </vaadin-css-layout>  
 </body>
</html>