<!doctype html>
<html>
 <head>
  <meta charset="UTF-8" name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src&quot;,&quot;THEME&quot;:&quot;agiletrack&quot;}">
 </head> 
 <body> 
  <vaadin-vertical-layout description="" style-name="centered-tabs framed icons-on-top" spacing size-full margin> 
   <vaadin-tab-sheet style-name="centered-tabs framed icons-on-top" responsive size-auto _id="tabsheet"></vaadin-tab-sheet> 
  </vaadin-vertical-layout>  
 </body>
</html>